src/main/mule/githubdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c1ab3c82-506d-44e0-9d32-f3f43166318d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubdemoFlow" doc:id="7943f321-f6d4-4bc0-bd6f-3c9443243146" >
		<http:listener doc:name="get /GH" doc:id="f0b1819f-c46f-4c6d-b04d-395b887fdb19" path="/GH" config-ref="HTTP_Listener_config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="592b06b7-643d-48c1-bd74-b8470f6c6b4a" />
		<logger level="INFO" doc:name="payload" doc:id="60ac233e-4492-4b70-9047-e428ca136895" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3e06052-96d9-43c2-bd7c-762c0b202aac" message='#["bYE"]'/>
	</flow>
</mule>
